{
   "trailingComma": "none",
   "tabWidth": 3,
   "semi": false,
   "singleQuote": true,
   "jsxSingleQuote": true,
   "arrowParens": "avoid",
   "importOrderSeparation": true,
   "importOrderSortSpecifiers": true
}
