@import "@styles/colors";

.button,
.button-black,
.button-white {
	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 5px;
	background: $primary-color;

	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;

	transition:
		background 0.3s ease,
		transform 0.3s ease,
		color 0.3s ease;

	&-lg {
		gap: 10px;

		font-size: 24px;
		font-weight: 700;

		padding: 16px 32px;
		border-radius: 8px;
	}

	&-md {
		gap: 8px;

		padding: 10px 40px;
	}

	&-sm {
		gap: 5px;

		padding: 9px 24px;
	}
}

.button-black {
	color: $black-color;
}
.button-white {
	color: $white-color;
}
