@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "@styles/textSize";
@import "@styles/colors";

body {
	background: $body-color;
	font-family: "Inter", sans-serif;
}

body,
a,
p {
	color: $text-color;
	font-size: $paragraphs-size;
	font-weight: 400;
}

h1 {
	font-size: $h1-size;
}

h2 {
	font-size: $h2-size;
}

h1,
h2 {
	font-weight: 700;
}

h3 {
	font-size: $h3-size;
	font-weight: 500;
}

h6 {
	font-size: $h6-size;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $main-text-color;
}
